<div class="container-fluid pb-3">
  <div class="row mt-5">
    <div class="col">

      <h3>Instence Creation Form</h3>
      <hr>

      <div class="mb-3">
        <button *ngFor="let className of getClassesName()"
                type="button"
                class="btn btn-secondary d-inline-block ms-2 mb-2"
                (click)="toggleForm(className)"
                [class.btn-dark]="isFormActive(className)"> {{ splitCamelCase(className) }} </button>
      </div>

      <shared-loading-bar *ngIf="isLoading"></shared-loading-bar>

      <div class="mb-3" *ngFor="let className of getClassesName()">
        <div *ngIf="activeForm === className">

          <form [formGroup]="formTestOntology" autocomplete="off" (ngSubmit)="onSubmit()">

            <div class="container-fluid pb-3" *ngIf="!isLoading">

              <div class="alert alert-secondary" role="alert">
                <h4 class="alert-heading"> {{ splitCamelCase(className) }} </h4>
                <p> {{ getComment(className)}} </p>
              </div>

              <div class="input-group mb-1">
                <label class="col-sm-3 col-form-label"> Label </label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" placeholder="Label name" formControlName="labelName">
                  <span *ngIf="isValidField('labelName')"
                    class="form-text text-danger">
                     {{ getFieldError('labelName')}}
                  </span>
                </div>
              </div>

              <div *ngFor="let controlName of formTestOntology.controls | keyvalue; let i = index" class="row mb-1">
                <ng-container *ngIf="controlName.key !== 'labelName'">
                  <div class="input-group mb-1">

                    <label class="col-sm-3 col-form-label">
                      <ng-container *ngIf="controlName.key.includes('Array'); else notArray">Lista de {{ removeHas(controlName.key.replace('Array', '')) }}</ng-container>
                      <ng-template #notArray>{{ removeHas(controlName.key) }}</ng-template>
                    </label>

                    <div class="col-sm-9" *ngIf="!isFormArrayControlOfFormOntology(controlName.key)">

                      <div class="input-group">
                        <input [formControlName]="controlName.key" class="form-control" type="text" placeholder="Something">
                        <button *ngIf="ifControlKeyIsConteinedInNameOfSomeControlOfFormArray(controlName.key) && showPlusIconForDataPropertyTypeSomeValuesFrom(controlName.key)"
                                class="btn square-button" color="primary"
                                type="button"
                                (click)="onAddElementToFormArray(controlName.key)">
                          Add
                        </button>
                      </div>

                      <span *ngIf="isValidField(controlName.key)"
                        class="form-text text-danger">
                        {{ getFieldError(controlName.key)}}
                      </span>

                    </div>

                    <div class="col-sm-9" *ngIf="isFormArrayControlOfFormOntology(controlName.key)">
                      <div [formArrayName]="controlName.key">
                        <div class="mb-1" *ngFor="let data of getFormArrayOfFormTestOntology(controlName.key).controls; let j = index">

                          <div class="input-group">
                            <input [formControlName]="j"
                              class="form-control"
                              type="text"
                              placeholder="Something FormArray">

                                <button (click)="onDelElementToFormArray(controlName.key, j)"
                                        class="square-button-delete"
                                        type="button">
                                  Delete
                                </button>
                            </div>

                          <div class="input-group">
                            <span *ngIf="isValidFieldInArrayOfFormTestOntology(controlName.key, j)" class="form-text text-danger">
                              {{ getFieldErrorInArrayOfFormTestOntology(controlName.key, j) }}
                            </span>
                          </div>

                        </div>

                      </div>
                    </div>

                  </div>
                </ng-container>
              </div>

                <button type="button" (click)="viewObjectProperties()" class="btn square-button-data-property mb-6">Add Object Property +</button>
                <div *ngIf="showObjectProperties">

                  <mat-chip-listbox aria-label="ObjectProperties Selection">
                    <mat-chip-option *ngFor="let property of getObjectProperties(); let i = index"
                                      [selected]="isSelected(i)"
                                      (click)="toggleSelection(i, className)"
                                      >
                      {{ property.name.replace('has', '') }}
                    </mat-chip-option>
                  </mat-chip-listbox>

                  <!-- <app-create-chips [objectProperiesChild]="objectProperies" [selectedInstancesChild]="selectedInstances"> </app-create-chips> -->

                </div>

                <!-- <div *ngIf="selectedChipIndex != null" style="margin-top: 20px;" (chipIndex)="chipIndex($event)"> -->
                <div *ngIf="selectedChipIndex != null" style="margin-top: 20px;">
                  <h3> {{ this.titleInstances() }} </h3>
                  <mat-selection-list (selectionChange)="onSelectionChange($event)">
                    <mat-list-option *ngFor="let instance of getIntances(); trackBy: track"
                                      color="primary"
                                      [value]="instance.name"
                                      [selected]="selectedInstances.includes(instance.name)">
                        <span matListItemTitle> {{ getPrincipalNameInstance(instance) }} </span>
                        <span matListItemLine>
                          {{ instance.description ? 'Description: ' + instance.description : 'No description' }}
                        </span>
                    </mat-list-option>
                  </mat-selection-list>
                </div>

                <div class="mb-3">
                  <button type="submit" (click)="saveInformationOfForm(className)"
                  class="btn float-end mat-success">Submit</button>
                </div>
            </div>


          </form>

        </div>
      </div>

        </div>
      </div>

</div>
