<div class="container-fluid pb-3">
  <div class="row mt-5">
    <div class="col">

      <h3>Form test for ontology</h3>
      <hr>

      <div class="mb-3">
        <button *ngFor="let className of getClassesName()"
                type="button"
                class="btn btn-secondary d-inline-block ms-2 mb-2"
                (click)="toggleForm(className)"
                [class.btn-dark]="isFormActive(className)"> {{ splitCamelCase(className) }} </button>
      </div>

      <div class="mb-3" *ngFor="let className of getClassesName()">
        <div *ngIf="activeForm === className">

          <form [formGroup]="formOntology" autocomplete="off" (ngSubmit)="onSubmit()">

            <div class="alert alert-secondary" role="alert">
              <h4 class="alert-heading"> {{ splitCamelCase(className) }} </h4>
              <p> {{ get_comment(className)}} </p>
            </div>

            <div class="input-group mb-1">
              <label class="col-sm-3 col-form-label"> Instance name </label>
              <div class="col-sm-9">
                <input class="form-control" type="text" placeholder="Instance name" formControlName="nameInstance">
                <span *ngIf="isValidField('nameInstance')"
                  class="form-text text-danger">
                  {{ getFieldError('nameInstance')}}
                </span>
              </div>
            </div>

            <!-- Aquí irán los inputs de las propiedades de las clases -->
            <div *ngFor="let property of getDataProperties(className)" class="mb-1">
              <div class="input-group">
                <label class="col-sm-3 col-form-label">{{ property }}</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" placeholder="Property name">
                </div>
              </div>
            </div>

              <button type="button" (click)="view_objectProperties()" class="btn btn-success mb-6">Add Object Property +</button>
              <div *ngIf="showObjectProperties">

                <mat-chip-listbox aria-label="ObjectProperties Selection">
                  <mat-chip-option *ngFor="let property of getObjectProperties(className); let i = index"
                                    [selected]="isSelected(i)"
                                    (click)="toggleSelection(i, className)">
                    {{ property.name }}
                  </mat-chip-option>
                </mat-chip-listbox>

              </div>

              <div *ngIf="selectedChipIndex != null" style="margin-top: 20px;">
                <h3> Instances of {{ this.getRangeName(className) }} and subclases </h3>
                <mat-selection-list>
                  <mat-list-option *ngFor="let instance of getIntances(); trackBy: track" color="primary">
                      <span matListItemTitle> {{ instance.name }} </span>
                      <span matListItemLine>
                        {{ instance.description ? 'Description: ' + instance.description : 'No description' }}
                      </span>
                  </mat-list-option>
                </mat-selection-list>
              </div>

              <div class="mb-3">
                <button type="submit" mat-raised-button color="primary"
                class="float-end">Submit</button>
              </div>

          </form>

        </div>
      </div>

      <!-- <div *ngFor="let dataOntology of this.dataOntology">
        <p> {{ dataOntology | json }} </p>
      </div> -->
      <!-- <div >
        <p> {{ this.intances | json}} </p>
      </div> -->

        </div>
      </div>

</div>

<div class="row">
  <div class="col">

      <span>Valid</span>
      <pre>{{ formOntology.valid | json }}</pre>

      <span>Pristine</span>
      <pre>{{ formOntology.pristine| json }}</pre>

      <span>Touched</span>
      <pre>{{ formOntology.touched| json }}</pre>

      <span>Value</span>
      <pre>{{ formOntology.value| json }}</pre>

      <span>Name</span>
      <pre>{{ formOntology.controls['nameInstance'].value | json }}</pre>

      <span>Name - Errors</span>
      <pre>{{ formOntology.controls['nameInstance'].errors | json }}</pre>

      <!-- <span>Producto</span>
      <pre>{{ formOntology.controls['name'].value | json }}</pre>

      <span>Producto</span>
      <pre>{{ formOntology.controls['name'].errors | json }}</pre> -->
  </div>
</div>
